


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Background Animartion */
    background: linear-gradient(-45deg, #01271f, #024b35, #024e35, #09251c);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Background Gloweffect */

.glow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    background: radial-gradient(circle, rgba(14, 141, 103, 0.6), transparent);
    transform: translateX(-50%);
    filter: blur(100px);
    z-index: 1;
}

/* Homepage Text */
.maincontent {
    position: relative;
    width: 450px;
    padding-right: 50%;
    text-align: center;
}

@media (max-width: 800px) {
    .maincontent {
        font-size: 160px; 
        line-height: 0.5;
        padding: 10px;
    }
}

.h1-main {
    font-size: 100px;
    color: white;
    z-index: 2;
    line-height: 1.2;
    margin: 0;
}

@media (max-width: 800px) {
    .h1-main {
        font-size: 70px; 
        line-height: 0.5;
        padding: 10px;
    }
}

.gradient-text {
    font-size: 100px;
    background: -webkit-linear-gradient(0deg, #c1eee3, #0ab67c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    display: inline-block;
    padding: 0;
    margin: 0;
    
}

@media (max-width: 850px) {
    .gradient-text {
        font-size: 70px; 
        line-height: 1;
        padding: 10px;
    } 
}

.p-main {
    font-size: 35px;
    color: white;
    margin: 10px 0 0 0;
}

@media (max-width: 800px) {
    .p-main {
        font-size: 30px; 
        line-height: 2;
        padding: 0px;
    }
}



/* NavBar */

header {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
    background-color: clear; 
    border-bottom: 1px solid white; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%; 
    height: 60px;
    overflow: hidden; 
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
}

.nav-links {
    list-style: none;
    display: flex;
    overflow: visible;
}

.nav-links li {
    padding: 0 60px;
    white-space: nowrap;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    z-index: 1100; 
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #01271f; 
    display: none;
    z-index: 998; 
    transition: opacity 0.3s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed; /* Ensure it is fixed to the top of the screen */
        top: 0;
        left: 0;
        background-color: transparent; /* No need for a separate background, handled by .overlay */
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Center items vertically */
        width: 100%;
        height: 100%;
        transform: translateY(-100%); /* Initially hide the menu */
        transition: transform 0.3s ease-in-out;
        z-index: 999; /* Above overlay but below burger */
    }

    .nav-links.active {
        transform: translateY(0%);
    }

    .nav-links li {
        padding: 20px 0;
    }

    .burger {
        display: flex;
    }
}

/* Card Design */

.card-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card-container .card-box
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.card-container .card-box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.card-container .card-box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.card-container .card-box:hover:before,
.card-container .card-box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.card-container .card-box:nth-child(1):before,
.card-container .card-box:nth-child(1):after
{
  background: linear-gradient(315deg, #003f31, #11b88e)
}

.card-container .card-box:nth-child(2):before,
.card-container .card-box:nth-child(2):after
{
  background: linear-gradient(315deg, #003f31, #11b88e)
}

.card-container .card-box:nth-child(3):before,
.card-container .card-box:nth-child(3):after
{
  background: linear-gradient(315deg, #003f31, #11b88e)
}

.card-container .card-box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.card-container .card-box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.card-container .card-box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.card-container .card-box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.card-container .card-box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.card-container .card-box .card-content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.card-container .card-box:hover .card-content
{
  left: -25px;
  padding: 60px 40px;
}

.card-container .card-box .card-content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.card-container .card-box .card-content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.card-container .card-box .card-content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.card-container .card-box .card-content a:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}